# .gitignore - Portfolio Version

# ============================================
# CRITICAL - Never commit these!
# # ============================================
.env
.env.*
!.env.example
*.key
*.pem
credentials/
project_development/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Testing
.coverage
coverage.xml
*.cover
.pytest_cache/
htmlcov/


# Ignore large data files
data/raw/raw.csv
data/processed/processed_transactions.parquet
data/processed/test_dataset.parquet
data/processed/train_dataset.parquet
data/download/dataset.zip
data/download/complete_synthetic_financial_kaggle.csv

site/
temp_mlops/

# ============================================
# MLflow - Include key artifacts
# ============================================
mlruns/
mlflow.db
mlflow.duckdb

# ============================================
# Feast - Ignore local feature store files
# ============================================

*.db
feature_repo/data/
registry.db
online_store.db
# ============================================
# Notebooks - KEEP OUTPUTS!
# ============================================
.ipynb_checkpoints/
